<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">Actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row" *ngIf="mode != 2">
                                <div class="col-4">
                                    Id:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" formControlName="id"
                                        [(ngModel)]="payment.id" disabled value="payment.id">
                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Fecha de pago:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="payment.payment_date"
                                        [disabled]="mode==1" formControlName="payment_date">
                                    <div
                                        *ngIf="getFormGroup.payment_date.errors && (getFormGroup.payment_date.dirty || getFormGroup.payment_date.touched || trySend)">
                                        <strong *ngIf="getFormGroup.payment_date.errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.payment_date.errors.pattern"
                                            class="msnError">Inválido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Cantidad:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="payment.quantity"
                                        [disabled]="mode==1" formControlName="quantity">
                                    <div
                                        *ngIf="getFormGroup.quantity.errors && (getFormGroup.quantity.dirty || getFormGroup.quantity.touched || trySend)">
                                        <strong *ngIf="getFormGroup.quantity.errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.quantity.errors.min " class="msnError">Inválido,
                                            minimo debe ser 1 </strong>
                                        <strong *ngIf="getFormGroup.quantity.errors.max " class="msnError">Inválido,
                                            maximo debe ser 100000 </strong>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Tipo de pago:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="payment.payment_type"
                                        [disabled]="mode==1" formControlName="payment_type">
                                    <div
                                        *ngIf="getFormGroup.payment_type.errors && (getFormGroup.payment_type.dirty || getFormGroup.payment_type.touched || trySend)">
                                        <strong *ngIf="getFormGroup.payment_type.errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    Descuento:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="payment.discount"
                                        [disabled]="mode==1" formControlName="discount">
                                    <div
                                        *ngIf="getFormGroup.discount.errors && (getFormGroup.discount.dirty || getFormGroup.discount.touched || trySend)">
                                        <strong *ngIf="getFormGroup.discount.errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.discount.errors.min " class="msnError">Inválido,
                                            minimo debe ser 1 </strong>
                                        <strong *ngIf="getFormGroup.discount.errors.max " class="msnError">Inválido,
                                            maximo debe ser 100000 </strong>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Suscripcion:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="subscription_id" [(ngModel)]="payment.subscription_id" [disabled]="mode==1">
                                        <option *ngFor = "let option of subscriptions" [value]="option.subscription_id">
                                            id: {{option.subscription_id}} Plan: {{option.id_plan}}  Customer: {{option.id_customer}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode == 2" (click)="create()" class="btn btn-primary btn-block"
                                        type="button">Crear</button>
                                    <button *ngIf="mode == 3" (click)="update()" class="btn btn-primary btn-block"
                                        type="button">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>