<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h2 *ngIf="plan != null" class="mb-0">Service Plans of Plan {{plan}}
            <!-- Boton de crear al lado derecho -->
            <div style="right: 100px; display: inline;"><button  type="button" style="position: absolute;right: 2%;" class="btn btn-primary align-left" (click)="create()">Create</button></div>
          </h2>
          <h2 *ngIf="plan == null" class="mb-0">Service Plans
            <!-- Boton de crear al lado derecho -->
            <div style="right: 100px; display: inline;"><button  type="button" style="position: absolute;right: 2%;" class="btn btn-primary align-left" (click)="create()">Create</button></div>
          </h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Service ID</th>
                  <th scope="col">Plan Id</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of servicePlans">
                  <td>{{actual.id}}</td>
                  <td>{{actual.id_service}}</td>
                  <td>{{actual.id_plan}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="view(actual.id)">
                      <i class="bi bi-eye-fill"></i>
                    </button>
                    <button type="button" class="btn btn-success" (click)="update(actual.id)">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(actual.id)">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
