<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Service Plans
              <!-- Boton de crear al lado derecho -->
              <button type="button" class="btn btn-primary align-left" (click)="create()">Create</button>
          </h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">name</th>
                  <th scope="col">description</th>
                  <th scope="col">price</th>
                  <th scope="col">number beneficiaries</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of servicePlans">
                  <td>{{actual.id}}</td>
                  <td>{{actual.id_service}}</td>
                  <td>{{actual.id_plan}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="view(actual.id)">
                      <i class="bi bi-eye-fill"></i>
                    </button>
                    <button type="button" class="btn btn-success" (click)="update(actual.id)">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(actual.id)">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
