<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h1 *ngIf="mode==1">View</h1>
          <h1 *ngIf="mode==2">New Room</h1>
          <h1 *ngIf="mode==3">Update</h1>
          
        </div>
        <div class="card-body">
            <div class="container">
                <form [formGroup]="theFormGroup">
                    <div class="row">
                        <div class="col-4">
                            id room:
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="room.id_room" disabled formControlName="id_room">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            capacity:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="room.capacity" [disabled]="mode==1" formControlName="capacity">
                            <div *ngIf="getTheFormGroup.capacity.errors && (getTheFormGroup.capacity.dirty || getTheFormGroup.capacity.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.capacity.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.capacity.errors.min " class="msnError">Inválido, minimo debe tener 1 digito</strong>
                                <strong *ngIf="getTheFormGroup.capacity.errors.max " class="msnError">Inválido, maximo debe tener 100 caracteres </strong>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-4">
                            chairs_number:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="room.chairs_number" [disabled]="mode==1" formControlName="chairs_number">
                            <div *ngIf="getTheFormGroup.chairs_number.errors && (getTheFormGroup.chairs_number.dirty || getTheFormGroup.chairs_number.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.chairs_number.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.chairs_number.errors.maxLength " class="msnError">Inválido, maximo debe tener 15 caracteres </strong>
                                <strong *ngIf="getTheFormGroup.chairs_number.errors.min " class="msnError">Inválido, minimo debe tener  1 digito</strong>
                                <strong *ngIf="getTheFormGroup.chairs_number.errors.max " class="msnError">Inválido, maximo debe tener 50 digitos </strong>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-4">
                            id_site_mortuary:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="room.id_site_mortuary" [disabled]="mode==1" formControlName="id_site_mortuary">
                            <div *ngIf="getTheFormGroup.id_site_mortuary.errors && (getTheFormGroup.id_site_mortuary.dirty || getTheFormGroup.id_site_mortuary.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.id_site_mortuary.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.id_site_mortuary.errors.min " class="msnError">Inválido, minimo debe tener  1 digito</strong>
                                <strong *ngIf="getTheFormGroup.id_site_mortuary.errors.max " class="msnError">Inválido, maximo debe tener 100 digitos </strong>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-4">
                            
                        </div>
                        <div class="col-8" style="text-align: right;">
                            <button *ngIf="mode==2" type="button" class="btn btn-primary align-left" (click)="create()">
                                <i class="fas fa-paper-plane"></i> Create
                            </button>
                            <button *ngIf="mode==3" type="button" class="btn btn-primary align-left" (click)="update()">
                                <i class="bi bi-pencil-fill"></i> Update
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div>