<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h2 class="mb-0" >Owners
              <!-- Boton de crear al lado derecho -->
              <div style="right: 100px; display: inline;"><button  type="button" style="position: absolute;right: 2%;" class="btn btn-primary align-left" (click)="create()">Create</button></div>
          </h2>
          
            
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">User Id</th>
                  <th scope="col">State</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of owners">
                  <td>{{actual.id_owner}}</td>
                  <td>{{actual.id_customer}}</td>
                  <td>{{actual.active}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="view(actual.id_owner)">
                      <i class="bi bi-eye-fill"></i>
                    </button>
                    <button type="button" class="btn btn-success" (click)="update(actual.id_owner)">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(actual.id_owner)">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
