<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">Actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row" *ngIf="mode != 2">
                                <div class="col-4">
                                    Id:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" formControlName="id"
                                        [(ngModel)]="chat.id_chat" disabled value="chat.id_chat">
                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Servicio:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="service_code" [(ngModel)]="chat.service_code" [disabled]="mode==1">
                                        <option *ngFor = "let option of serviceExecutions" [value]="option.service_code">
                                            id: {{option.service_code}} customer: {{option.id_customer}}  service: {{option.id_service}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Estado del chat:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="chat.chat_status"
                                        [disabled]="mode==1" formControlName="chat_status">
                                    <div
                                        *ngIf="getFormGroup.chat_status.errors && (getFormGroup.chat_status.dirty || getFormGroup.chat_status.touched || trySend)">
                                        <strong *ngIf="getFormGroup.chat_status.errors.required"
                                            class="msnError">Requerido</strong>
                                            <strong *ngIf="getFormGroup.chat_status.errors.pattern"
                                            class="msnError">Digite una opcion válida</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Contenido:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="chat.content"
                                        [disabled]="mode==1" formControlName="content">
                                    <div
                                        *ngIf="getFormGroup.content.errors && (getFormGroup.content.dirty || getFormGroup.content.touched || trySend)">
                                        <strong *ngIf="getFormGroup.content.errors.required"
                                            class="msnError">Requerido</strong>
                                            <strong *ngIf="getFormGroup.content.errors.maxLength"
                                            class="msnError">Máximo de caracteres</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode == 2" (click)="create()" class="btn btn-primary btn-block"
                                        type="button">Crear</button>
                                    <button *ngIf="mode == 3" (click)="update()" class="btn btn-primary btn-block"
                                        type="button">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>