<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">Actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row">
                                <div class="col-4">
                                    Id:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control"
                                        [(ngModel)]="service_execution.service_code" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Servicio:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="service_execution.id_service"
                                        [disabled]="mode==1" formControlName="id_service">
                                    <div
                                        *ngIf="getFormGroup.id_service.errors && (getFormGroup.id_service.dirty || getFormGroup.id_service.touched || trySend)">
                                        <strong *ngIf="getFormGroup.id_service.errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.id_service.errors.min" class="msnError">Inválido,
                                            minimo debe ser 1 </strong>
                                        <strong *ngIf="getFormGroup.id_service.errors.max" class="msnError">Inválido,
                                            maximo debe ser 100 </strong>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Cliente:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control"
                                        [(ngModel)]="service_execution.id_customer" [disabled]="mode==1"
                                        formControlName="id_customer">
                                    <div
                                        *ngIf="getFormGroup.id_customer.errors && (getFormGroup.id_customer.dirty || getFormGroup.id_customer.touched || trySend)">
                                        <strong *ngIf="getFormGroup.id_customer.errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.id_customer.errors.min " class="msnError">Inválido,
                                            minimo debe ser 1 </strong>
                                        <strong *ngIf="getFormGroup.id_customer.errors.max " class="msnError">Inválido,
                                            maximo debe ser 100 </strong>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Ubicacion del fallecido:
                                </div>
                                <div class="col-8">
                                    <input type="datetime" class="form-control"
                                        [(ngModel)]="service_execution.deceased_location" [disabled]="mode==1"
                                        formControlName="deceased_location">
                                    <div
                                        *ngIf="getFormGroup.deceased_location.errors && (getFormGroup.deceased_location.dirty || getFormGroup.deceased_location.touched || trySend)">
                                        <strong *ngIf="getFormGroup.deceased_location.errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Fecha de inicio:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="service_execution.start_date"
                                        [disabled]="mode==1" formControlName="start_date">
                                    <div
                                        *ngIf="getFormGroup.start_date.errors && (getFormGroup.start_date.dirty || getFormGroup.start_date.touched || trySend)">
                                        <strong *ngIf="getFormGroup.start_date.errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.start_date.errors.pattern"
                                            class="msnError">Inválido</strong>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Fecha fin:
                                </div>
                                <div class="col-8">
                                    <input type="datetime" class="form-control" [(ngModel)]="service_execution.end_date"
                                        [disabled]="mode==1" formControlName="end_date">
                                    <div
                                        *ngIf="getFormGroup.end_date.errors && (getFormGroup.end_date.dirty || getFormGroup.end_date.touched || trySend)">
                                        <strong *ngIf="getFormGroup.end_date.errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.end_date.errors.pattern"
                                            class="msnError">Inválido</strong>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode == 2" (click)="create()" class="btn btn-primary btn-block"
                                        type="button">Crear</button>
                                    <button *ngIf="mode == 3" (click)="update()" class="btn btn-primary btn-block"
                                        type="button">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>