<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h2 class="mb-0">Mensajes del chat {{chat}}
              <!-- Boton de crear al lado derecho -->
              <div style="right: 100px; display: inline;"><button type="button" style="position: absolute;right: 2%;" class="btn btn-primary align-left" (click)="create()">Crear</button></div>
          </h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Contenido</th>
                  <th scope="col">Fecha de envio</th>
                  <th scope="col">Leido</th>
                  <th scope="col">Chat</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of messages">
                  <td>{{actual.id}}</td>
                  <td>{{actual.content}}</td>
                  <td>{{actual.date_shipment | date: 'short'}}</td>  
                  <td>{{actual.departure_date | date: 'short'}}</td>  
                  <td>{{actual.read}}</td>
                  <td>{{actual.id_chat}}</td>

                  <td>
                    <button type="button" class="btn btn-primary" (click)="view(actual.id)">
                      <i class="bi bi-eye-fill"></i>
                    </button>
                    <button type="button" class="btn btn-success" (click)="update(actual.id)">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(actual.id)">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
