<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h1 *ngIf="mode==1">View</h1>
          <h1 *ngIf="mode==2">New Service Plan</h1>
          <h1 *ngIf="mode==3">Update</h1>
          
        </div>
        <div class="card-body">
            <div class="container">
                <form [formGroup]="theFormGroup">
                    <div class="row">
                        <div class="col-4">
                            id Service Plan:
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="servicePlan.id" disabled formControlName="id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Service ID:
                        </div>
                        <div class="col-8">
                            <select class="form-control" formControlName="id_service" [(ngModel)]="servicePlan.id_service" [disabled]="mode==1">
                                <option *ngFor = "let option of services" [value]="option.id_service">
                                    id: {{option.id_service}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Plan ID:
                        </div>
                        <div class="col-8">
                            <select class="form-control" formControlName="id_plan" [(ngModel)]="servicePlan.id_plan" [disabled]="mode==1">
                                <option *ngFor = "let option of plans" [value]="option.id_plan">
                                    id: {{option.id_plan}} Plan: {{option.name}}  Description: {{option.description}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            
                        </div>
                        <div class="col-8" style="text-align: right;">
                            <button *ngIf="mode==2" type="button" class="btn btn-primary align-left" (click)="create()">
                                <i class="fas fa-paper-plane"></i> Create
                            </button>
                            <button *ngIf="mode==3" type="button" class="btn btn-primary align-left" (click)="update()">
                                <i class="bi bi-pencil-fill"></i> Update
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div>