<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">Actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row mb-3">
                                <div class="row" *ngIf="mode != 2">
                                    <div class="col-4">
                                        Id:
                                    </div>
                                    <div class="col-8">
                                        <input type="number" class="form-control" formControlName="id"
                                            [(ngModel)]="relocation.id_relocation" formControlName="id" disabled value="relocation.id_relocation">
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    Servicio:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="id_service" [(ngModel)]="relocation.id_service" [disabled]="mode==1">
                                        <option *ngFor = "let option of services" [value]="option.id_service">
                                            id: {{option.id_service}} description: {{option.type_service}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    Conductor:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="id_driver" [(ngModel)]="relocation.id_driver" [disabled]="mode==1">
                                        <option *ngFor = "let option of drivers" [value]="option.id_driver">
                                            id: {{option.id_driver}} vehicle: {{option.assigned_vehicle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    Fecha de salida:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="relocation.departure_date" [disabled]="mode == 1" formControlName="departure_date">
                                    <div *ngIf="getFormGroup.departure_date.errors && (getFormGroup.departure_date.dirty || getFormGroup.departure_date.touched || trySend)">
                                        <strong *ngIf="getFormGroup.departure_date.errors.required" class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.departure_date.errors.pattern" class="msnError">Inválido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    Fecha de finalización:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="relocation.finish_date" [disabled]="mode == 1" formControlName="finish_date">
                                    <div *ngIf="getFormGroup.finish_date.errors && (getFormGroup.finish_date.dirty || getFormGroup.finish_date.touched || trySend)">
                                        <strong *ngIf="getFormGroup.finish_date.errors.required" class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.finish_date.errors.pattern" class="msnError">Inválido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    Origen:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="relocation.origin" [disabled]="mode == 1" formControlName="origin">
                                    <div *ngIf="getFormGroup.origin.errors && (getFormGroup.origin.dirty || getFormGroup.origin.touched || trySend)">
                                        <strong *ngIf="getFormGroup.origin.errors.required" class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.origin.errors.maxLength" class="msnError">Máximo de 20 caracteres</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    Destino:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="relocation.destiny" [disabled]="mode == 1" formControlName="destiny">
                                    <div *ngIf="getFormGroup.destiny.errors && (getFormGroup.destiny.dirty || getFormGroup.destiny.touched || trySend)">
                                        <strong *ngIf="getFormGroup.destiny.errors.required" class="msnError">Requerido</strong>
                                        <strong *ngIf="getFormGroup.destiny.errors.maxLength" class="msnError">Máximo de 20 caracteres</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode == 2" (click)="create()" class="btn btn-primary btn-block" type="button">Crear</button>
                                    <button *ngIf="mode == 3" (click)="update()" class="btn btn-primary btn-block" type="button">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
