<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h2 *ngIf="customer != null" class="mb-0">Ejecucion de servicios del cliente {{customer}}
            <!-- Boton de crear al lado derecho -->
            <div style="right: 100px; display: inline;"><button  type="button" class="btn btn-primary align-left create" (click)="create()">Create</button></div>
          </h2>
          <h2 *ngIf="customer == null" class="mb-0">Ejecuciones de servicios
            <!-- Boton de crear al lado derecho -->
            <div style="right: 100px; display: inline;"><button  type="button" class="btn btn-primary align-left create" (click)="create()">Create</button></div>
          </h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Servicio</th>
                  <th scope="col">Ubicacion fallecido</th>
                  <th scope="col">Fecha inicio</th>
                  <th scope="col">Fecha fin</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of service_executions">
                  <td>{{actual.service_code}}</td>
                  <td>{{actual.id_customer}}</td>
                  <td>{{actual.id_service}}</td>  
                  <td>{{actual.deceased_location}}</td>
                  <td>{{actual.start_date}}</td>
                  <td>{{actual.end_date}}</td>  
                  <td>
                    <button type="button" class="btn btn-primary" (click)="view(actual.service_code)">
                      <i class="bi bi-eye-fill"></i>
                    </button>
                    <button type="button" class="btn btn-success" (click)="update(actual.service_code)">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(actual.service_code)">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                    <button type="button" class="btn btn-info" (click)="listComments(actual.service_code)">Cometarios y calificaciones</button>
                    <button type="button" class="btn btn-info" (click)="listChats(actual.service_code)">Chats</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
