<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">Actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row" *ngIf="mode != 2">
                                <div class="col-4">
                                    Id:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" formControlName="id"
                                        [(ngModel)]="customer.id_customer" disabled value="customer.id_customer">
                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Usuario:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="user_id" [(ngModel)]="customer.user_id" [disabled]="mode==1">
                                        <option *ngFor = "let option of users" [value]="option._id">
                                            id: {{option._id}} Name: {{option.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Fecha de registro:
                                </div>
                                <div class="col-8">
                                    <input type="datetime" class="form-control" [(ngModel)]="customer.registration_date"
                                        [disabled]="mode==1" formControlName="registration_date">
                                        <div
                                            *ngIf="getUserFormGroup.registration_date.errors && (getUserFormGroup.registration_date.dirty || getUserFormGroup.registration_date.touched || trySend)">
                                            <strong *ngIf="getUserFormGroup.registration_date.errors.required"
                                                class="msnError">Requerido</strong>
                                            <strong *ngIf="getUserFormGroup.registration_date.errors.pattern"
                                                class="msnError">Inválido</strong>
                                        </div>
    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Status:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="customer.status"
                                        [disabled]="mode==1" formControlName="status">
                                        <div
                                            *ngIf="getUserFormGroup.status.errors && (getUserFormGroup.status.dirty || getUserFormGroup.status.touched || trySend)">
                                            <strong *ngIf="getUserFormGroup.status.errors.required"
                                                class="msnError">Requerido</strong>
                                            <strong *ngIf="getUserFormGroup.status.errors.pattern"
                                                class="msnError">Inválido</strong>
                                        </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode == 2" (click)="create()" class="btn btn-primary btn-block"
                                        type="button">Crear</button>
                                    <button *ngIf="mode == 3" (click)="update()" class="btn btn-primary btn-block"
                                        type="button">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>