<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page nombre -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">Actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row" *ngIf="mode != 2">
                                <div class="col-4">
                                    Id:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" formControlName="id"
                                        [(ngModel)]="music.id" formControlName="id" disabled value="music.id">
                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Nombre:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="music.nombre"
                                        [disabled]="mode==1" formControlName="nombre">
                                    <div
                                        *ngIf="getFormGroup.nombre.errors && (getFormGroup.nombre.dirty || getFormGroup.nombre.touched || trySend)">
                                        <strong *ngIf="getFormGroup.nombre.errors.required"
                                            class="msnError">Requerido</strong>
                                            <strong *ngIf="getFormGroup.nombre.errors.maxLength"
                                            class="msnError">Máximo de caracteres</strong>
                                            <strong *ngIf="getFormGroup.nombre.errors.minLength"
                                            class="msnError">Minimo de caracteres</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Nombre del grupo:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="music.nombre_grupo"
                                        [disabled]="mode==1" formControlName="nombre_grupo">
                                    <div
                                        *ngIf="getFormGroup.nombre_grupo.errors && (getFormGroup.nombre_grupo.dirty || getFormGroup.nombre_grupo.touched || trySend)">
                                        <strong *ngIf="getFormGroup.nombre_grupo.errors.required"
                                            class="msnError">Requerido</strong>
                                            <strong *ngIf="getFormGroup.nombre_grupo.errors.maxLength"
                                            class="msnError">Máximo de caracteres</strong>
                                            <strong *ngIf="getFormGroup.nombre_grupo.errors.minLength"
                                            class="msnError">Minimo de caracteres</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Valor hora:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="music.valor_hora"
                                        [disabled]="mode==1" formControlName="valor_hora">
                                    <div
                                        *ngIf="getFormGroup.valor_hora.errors && (getFormGroup.valor_hora.dirty || getFormGroup.valor_hora.touched || trySend)">
                                        <strong *ngIf="getFormGroup.valor_hora.errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Tipo de musica:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="idType"
                                        [(ngModel)]="music.tipo_musica.id">
                                        <option *ngFor="let option of types" [value]="option.id">Id:
                                            {{option.id}} - Nombre: {{option.nombre}} </option>
                                    </select>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode == 2" (click)="create()" class="btn btn-primary btn-block"
                                        type="button">Crear</button>
                                    <button *ngIf="mode == 3" (click)="update()" class="btn btn-primary btn-block"
                                        type="button">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>