<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h1 *ngIf="mode==1">View</h1>
          <h1 *ngIf="mode==2">New Administrator</h1>
          <h1 *ngIf="mode==3">Update</h1>
          
        </div>
        <div class="card-body">
            <div class="container">
                <form [formGroup]="theFormGroup">
                    <div class="row">
                        <div class="col-4">
                            id Administrator:
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="administrator.id" disabled formControlName="id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            User ID:
                        </div>
                        <div class="col-8">
                            <select class="form-control" formControlName="user_id" [(ngModel)]="administrator.user_id" [disabled]="mode==1">
                                <option *ngFor = "let option of users" [value]="option._id">
                                    id: {{option._id}} Name: {{option.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            registration date:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="administrator.registration_date" [disabled]="mode==1" formControlName="registration_date">
                            <div *ngIf="getTheFormGroup.registration_date.errors && (getTheFormGroup.registration_date.dirty || getTheFormGroup.registration_date.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.registration_date.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.registration_date.errors.pattern" class="msnError">El formato debe ser yyyy-MM-dd HH:mm:ss</strong>
                            </div>
                        </div>
                    </div> 
                   <div class="row">
                        <div class="col-4">
                            Status:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="administrator.status" [disabled]="mode==1" formControlName="status">
                            <div *ngIf="getTheFormGroup.status.errors && (getTheFormGroup.status.dirty || getTheFormGroup.status.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.status.errors.required" class="msnError">Requerido</strong>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-4">
                            
                        </div>
                        <div class="col-8" style="text-align: right;">
                            <button *ngIf="mode==2" type="button" class="btn btn-primary align-left" (click)="create()">
                                <i class="fas fa-paper-plane"></i> Create
                            </button>
                            <button *ngIf="mode==3" type="button" class="btn btn-primary align-left" (click)="update()">
                                <i class="bi bi-pencil-fill"></i> Update
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div>